
<div class="col-sm-offset-2   col-sm-8">
        <h1 id="homeHeading">ERREUR</h1>
        <hr>
        <p>Cette page n'existe pas</p>
        <a href="{{ urls.blog }}" class="btn btn-primary btn-xl page-scroll hidden-xs sendForm"><span class="glyphicon glyphicon-play"></span></a>
</div>

