<div class="col-sm-offset-2   col-sm-8">
        <h1 id="homeHeading">Blog vide</h1>
        <hr>
        <p>Il n'y a aucun post de créé pour le moment</p>
            <div class="col-sm-6">
                <a href="{{ urls.blogadd }}"><button class="btn btn-default btn-xl sendForm">
                   <span class="glyphicon glyphicon-edit"></span> Nouveau post</button>
                </a>
            </div>
            <div class="clearfix visible-xs-block">
                <br/><br/>
            </div>
            <div class="col-sm-6">
                <a href="{{ urls.home }}"><button class="btn btn-default btn-xl sendForm">
                   <span class="glyphicon glyphicon-edit"></span> Retour à l'accueil </button>
                </a>
            </div>
</div>
