<br/>{#bad design temporary for test #}

<form class="formcontact" action="" method="post">
  <p>
    <label>Votre nom</label>
    <input type="text" name="name" id="name" value="" required/><br />
    <label>Votre prénom</label>
    <input type="text" name="firstname" id="firstname" value="" required/><br />
    <label>Votre adresse mail</label>
    <input type="email" name="email" id="email" value="" required/><br />  
    <label>Votre message</label>
    <textarea name="message" id="message" rows="7" cols="50" required></textarea><br />
    
    
    <input class="page-scroll btn btn-default btn-xl sr-button" type="submit" value="Envoyer" />
      
  </p>
</form>