{% extends "layout.twig" %}

{% block navside %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Welcome to my blog</a>
            </div>
    <!-- Collect the nav anchorlinks, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#">Présentation</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Me contacter</a>
                </li>
            </ul>
        </div>
    <!-- /.navbar-collapse -->
    <!-- Collect the nav menu links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="{{ urls.blog }}">Lire mon BLog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    <!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block header %}
        
        <div class="header-content">
            <div class="header-content-inner">
                <br/>
            
                <div class="container-fluid">
                    <!--Logo and photo -->
                    <div class="col-sm-offset-9  col-sm-3 hidden-xs">
                        <a href="web/img/portfolio/fullsize/me.jpg" class="portfolio-box">
                            <img id="mystere" src="web/img/portfolio/thumbnails/me.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            Qui suis-je ?
                                        </div>
                                        <div class="project-name">
                                            Cliquez pour le savoir !
                                        </div>
                                    </div>
                                </div>
                        </a>
                    </div>
                </div>
                
                <br/>
                    
                 <!-- presentation with catchphrase-->
                <div class="col-sm-offset-2   col-sm-8">
                    <h1 id="homeHeading">Thériot Aurélien</h1>
                    <hr>
                    <p>Créatif, ayant un oeil ouvert sur les technologies avant-gardistes, je dévoile mon univers à travers le design et la programmation.</p>
                    <a href="#contact" class="btn btn-primary btn-xl page-scroll hidden-xs">Me contacter</a>
                </div>
            
             

            </div>
        </div>

{% endblock %}

{% block page %}
    <!--photo xs only-->
    <aside class="bg-dark visible-xs">
        <div class="container text-center">
            <div class="col-xs-offset-3 col-xs-6">
             
                        <a href="web/img/portfolio/fullsize/me.jpg" class="portfolio-box">
                            <img id="mystere" src="web/img/portfolio/thumbnails/me.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            Qui suis-je ?
                                        </div>
                                        <div class="project-name">
                                            Cliquez pour le savoir !
                                        </div>
                                    </div>
                                </div>
                        </a>
            </div>
        </div>
    </aside>
 
            
                
    <!--contact form-->       
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contactez moi</h2>
                    <hr class="light">
                    <p class="text-faded">Emplacement du formulaire de contact</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Envoyer</a>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Autres moyens de contact</h2>
                    <hr class="primary">
                    <p>Vous pouvez également me contacter par mail ou directement par téléphone.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>00-25-76-68-90</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">aurelien.theriot@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}